body {
   background-image: url("http://buythesky.com.au/App_Themes/RFDS/img/template/background-video-poster.jpg");
   background-size: cover;
   background-attachment: fixed;
   font-family: Verdana;
   font-size: 1.5em;
   text-align: center;
   color: #eeeeee;
}

button {
    font-family: Verdana;
    padding: 0.3em;
    color: #eeeeee;
    font-size: .5em;
    border: 1px solid #003366;
    border-radius: .3em;
    background-color: rgba(0, 0, 0, 0.35);
    width: 6em;
}

button:hover {
    color: #fff538;
}

.list {
    border-radius: 0.1em;
    background-color: rgba(0, 0, 0, 0.35);
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    text-align: left;
  }

.create-form {
    background-color: #000;
}

.list {
    padding: .1em;
}

.confirm {
    border-radius: 0.1em;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    text-align: center;
    color: yellow;
    padding: 1em;
}

p {
    margin-left: 1em;
    color: #eeeeee;
    max-width: 20em;
}

h3 {
    margin-left: 1em;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

a:hover{
  color: yellow;
}
