{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">

        <title>RTracker</title>

        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            $( document ).ready(function() {
                $("button").click(function(){
                var item = $("#item").val();
                if (item.length !== 0){
                    // Adds item to TODO LIST
                    $("ol").append('<li>' + item + '</li>');
                    $("#todo")[0].reset();
                    $("li").click(function(){
                    // Removes item from TODO LIST
                    $(this).remove();
            　　　　　});}
        　　　　　return false;
　　　　　　　　　　  });
　　　　　　　　　　  });
        </script>
    </head>
    <body>
        <h1>RTracker</h1>
        <form id="todo">
        <input type="text" id="item"/>
        <button>Add Prototype</button>
        </form>
        <div class="items">
            <ol>
            </ol>
        </div>
    </body>
</html>
